name: Rollout using bytebase-action image

on:
  push:
    branches:
      - main
    paths:
      - "migrations-semver/*.sql"

env:
  BYTEBASE_URL: http://13.232.242.131:8080
  BYTEBASE_SERVICE_ACCOUNT: api-sample@service.bytebase.com
  BYTEBASE_SERVICE_ACCOUNT_SECRET: ${{ secrets.BYTEBASE_SERVICE_ACCOUNT_SECRET }}
  BYTEBASE_PROJECT: "projects/new-project"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build app and upload
        run: |
          echo "Building..."
          echo "Build done!"

  create-and-deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: test
    container:
      image: docker://bytebase/bytebase-action:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create rollout and deploy
        env:
          BYTEBASE_TARGETS: "instances/neo-mr/databases/RecruitCRM_Test"
          FILE_PATTERN: "migrations-semver/*.sql"
          BYTEBASE_OUTPUT: ${{ runner.temp }}/bytebase-metadata.json
        run: |
          bytebase-action rollout --url=${{ env.BYTEBASE_URL }} --project=${{ env.BYTEBASE_PROJECT }} --file-pattern=${{ env.FILE_PATTERN }} --targets=${{ env.BYTEBASE_TARGETS }} --output=${{ env.BYTEBASE_OUTPUT }}

          PLAN=$(jq -r .plan ${{ runner.temp }}/bytebase-metadata.json)

          bytebase-action rollout --url=${{ env.BYTEBASE_URL }} --project=${{ env.BYTEBASE_PROJECT }} --target-stage=environments/test --plan=$PLAN
