name: SQL review on pull request using bytebase-action image

on:
  pull_request:
    branches:
      - main
    paths:
      - "migrations-semver/*.sql"

jobs:
  check-release-on-prod:
    permissions:
        pull-requests: write
    runs-on: self-hosted
    container:
      image: docker://bytebase/bytebase-action:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check release
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            BYTEBASE_URL: http://13.232.242.131:8080
            BYTEBASE_SERVICE_ACCOUNT: api-sample@service.bytebase.com
            BYTEBASE_SERVICE_ACCOUNT_SECRET: ${{ secrets.BYTEBASE_SERVICE_ACCOUNT_SECRET }}
            BYTEBASE_PROJECT: "projects/project-sample"
            BYTEBASE_TARGETS: "instances/prod-sample-instance/databases/hr_prod"
            FILE_PATTERN: "migrations-semver/*.sql"
        run: |
          bytebase-action check --url=${{ env.BYTEBASE_URL }} --project=${{ env.BYTEBASE_PROJECT }} --targets=${{ env.BYTEBASE_TARGETS }} --file-pattern=${{ env.FILE_PATTERN }}
